@media screen and (max-width: 768px) {
    html, body {
        height: auto;
    }

    .card {
        flex-direction: column;
        width: 80%;
        margin-bottom: 4rem;
    }

    .card-image,
    .card-details {
        width: 100%;
    }

    .card-image img {
        width: 100%;
        position: relative;
        right: 0;
        top: 0;
    }
}

@media screen and (max-width: 450px) {
    html, body {
        height: auto;
    }

    .card {
        width: 100%;
        margin-bottom: 0;
    }

    .card-image span {
        font-size: 3rem;
    }

    .card-details h2 {
        font-size: 1.5rem;
    }

    .card-details h1 {
        font-size: 2.5rem;
    }

    .price-container {
        flex-direction: column;
        gap: 2rem;
    }
    
    .price {
        max-width: 11rem;
        font-size: 1.7rem;
        padding-bottom: 1rem;
    }
    
    .btn {
        width: 8rem;
        font-size: 1.2rem;
        width: 100%;
    }
}